%div{class: "chat"}
  %div{class: "chat-side"}
    %div{class: "chat-user clearfix"}
      %h5
        = current_user.name
      %div{class: "chat-user__actions"}
        %div{class: "chat-user__action"}
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

    %ul{class: "chat-groups"}
      %li{class: "chat-group"}
      - current_user.groups.each do |group|
        %a{class: "chat-group__link"}
          %p{class: "chat-group__name"}
            = group.name
          %p{class: "chat-group__message"}
            メッセージはありません。

  %div{class: "chat-main"}
    %div{class: "chat-header clearfix"}
      %div{class: "chat-header--left"}
        %h2
          = @group.name
        %p{class: "chat-header__users"}
          Members:
          %span{class: "chat-header__user"}
            hamanosan
      %div{class: "chat-header--right"}
        = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn"
    %div{class: "chat-body"}
      %ul{class: "chat-messages"}
        %li{class: "chat-message"}
          %div{class: "chat-message__header clearfix"}
            %p{class: "chat-message__name"}
              Hamanosan
            %p{class: "chat-message__time"}
              2018/07/07 08:24:33
          %p{class: "chat-message__body"}
            yes!
    %div{class: "chat-footer"}
      %form{class: "new_message"}
        %div{class: "chat-footer__body"}
          %textarea{row: "1", placeholder: "type a message", id: "message_body"}
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
        %input{type: "submit", name: "commit", value: "Send"}
