.chat
  = render partial: 'shared/side_bar'

  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2
          = @group.name
        %p{class: "chat-header__users"}
          Members:
          - @group.members.each do |member|
            %span{class: "chat-header__user"}
              = member.user.name
      .chat-header--right
        = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn"
    .chat-body
      %ul.chat-messages
        = render partial: 'messages/message', collection: @messages

    .chat-footer
      .chat-footer__body
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
